@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Main Number Count */
.main__count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-top: 9rem;

}
.count__text, .count__times{
    font-size: 2rem;
    word-spacing: 0px;
}

/* Main Clicking Part */
.main__click{
    display: grid;
    place-items: center;
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 100px;
}

.main__videoBx{
    width: 350px;
    height: 350px;
    position: relative;
}
.main__videoCover{
    display: block;
    position: absolute;
    background-color: #f0cfa6;
    width: 72px;
    height: 46px;
    top: 129px;
    left: 84px;
    transform: rotate(15deg);
    pointer-events: none;
    z-index: 19;
}
.mainClickChild{
    position: absolute;
    user-select: none;
}
.main__videoTop, .main__videoBottom{
    position: absolute;
}
.main__videoTop{
    z-index: 1;
}
.main__videoBottom{
    z-index: 20;
}

.mainClickChild:not(:first-child){
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    transition: top 500ms ease-in-out, left 500ms ease-in-out, opacity 500ms ease-in-out;
}

.main__candy{
    width: 150px;
    top: 100px;
    /* top: -85px; */ /* Top for animation */
}

/* 2nd candy - Fidorka */
.main__fidorka{
    width: 124px;
    top: 138px;
    /* top: -88px; */ /* Top for animation */
}

/* 3rd candy - Tatranka */
.main__tatranka{
    width: 220px;
    top: 58px;
    /* top: -130px; */ /* Top for animation */
}

/* 4th candy - bueno */
.main__bueno{
    width: 177px;
    top: 148px;
    /* top: -43px; */ /* Top for animation */
}


/* Bottom Section */
.main__bottom{
    align-self: flex-end;
    margin-top: auto;
    padding: 0 40px 16px 0;
}
.bottom__imgBx{
    position: relative;
    width: 64px;
    height: 84px;
}
.bottom__img, .bottom__imgRed{
    width: 64px;
    position: absolute;
}
.bottom__imgRed{
    opacity: 0;
}